doctype doctype html
html(lang="en")
  head
    title Новая статья
  body 
    h1 Новая статья
    form(action="/meetups" method="post") 
      input(type="text" name="title") 
      input(type="text" name="description") 
      input(type="text" name="status")
      button(type="submit") New meetup